## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poso,ID,-1.3959,120.7524,80.85,75,98,2.57,light rain
1,1,Kununurra,AU,-15.7667,128.7333,80.58,89,40,3.44,scattered clouds
2,2,Bluff,NZ,-46.6000,168.3333,56.80,62,61,10.47,broken clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,57.31,58,75,14.97,broken clouds
4,4,New Norfolk,AU,-42.7826,147.0587,72.66,45,75,2.68,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature for your trip? "))
max_temp = float(input("What is the maximum temperature for your trip? "))

What is the minimum temperature for your trip? 50
What is the maximum temperature for your trip? 85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)  ]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poso,ID,-1.3959,120.7524,80.85,75,98,2.57,light rain
1,1,Kununurra,AU,-15.7667,128.7333,80.58,89,40,3.44,scattered clouds
2,2,Bluff,NZ,-46.6000,168.3333,56.80,62,61,10.47,broken clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,57.31,58,75,14.97,broken clouds
4,4,New Norfolk,AU,-42.7826,147.0587,72.66,45,75,2.68,broken clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Dubbo,AU,-32.2500,148.6167,71.73,49,100,17.27,overcast clouds
674,674,Ulladulla,AU,-35.3500,150.4667,71.87,58,6,13.78,clear sky
676,676,Byron Bay,AU,-28.6500,153.6167,75.16,67,100,19.55,overcast clouds
678,678,Gboko,NG,7.3179,8.9951,75.06,18,0,8.93,clear sky
679,679,Aitape,PG,-3.1374,142.3475,84.29,71,100,6.29,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                387
City                   387
Country                380
Lat                    387
Lng                    387
Max Temp               387
Humidity               387
Cloudiness             387
Wind Speed             387
Current Description    387
dtype: int64

In [9]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                380
City                   380
Country                380
Lat                    380
Lng                    380
Max Temp               380
Humidity               380
Cloudiness             380
Wind Speed             380
Current Description    380
dtype: int64

In [11]:
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poso,ID,-1.3959,120.7524,80.85,75,98,2.57,light rain
1,1,Kununurra,AU,-15.7667,128.7333,80.58,89,40,3.44,scattered clouds
2,2,Bluff,NZ,-46.6000,168.3333,56.80,62,61,10.47,broken clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,57.31,58,75,14.97,broken clouds
4,4,New Norfolk,AU,-42.7826,147.0587,72.66,45,75,2.68,broken clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Dubbo,AU,-32.2500,148.6167,71.73,49,100,17.27,overcast clouds
674,674,Ulladulla,AU,-35.3500,150.4667,71.87,58,6,13.78,clear sky
676,676,Byron Bay,AU,-28.6500,153.6167,75.16,67,100,19.55,overcast clouds
678,678,Gboko,NG,7.3179,8.9951,75.06,18,0,8.93,clear sky
679,679,Aitape,PG,-3.1374,142.3475,84.29,71,100,6.29,overcast clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df.head

<bound method NDFrame.head of              City Country  Max Temp Current Description      Lat       Lng
0            Poso      ID     80.85          light rain  -1.3959  120.7524
1       Kununurra      AU     80.58    scattered clouds -15.7667  128.7333
2           Bluff      NZ     56.80       broken clouds -46.6000  168.3333
3    Punta Arenas      CL     57.31       broken clouds -53.1500  -70.9167
4     New Norfolk      AU     72.66       broken clouds -42.7826  147.0587
..            ...     ...       ...                 ...      ...       ...
673         Dubbo      AU     71.73     overcast clouds -32.2500  148.6167
674     Ulladulla      AU     71.87           clear sky -35.3500  150.4667
676     Byron Bay      AU     75.16     overcast clouds -28.6500  153.6167
678         Gboko      NG     75.06           clear sky   7.3179    8.9951
679        Aitape      PG     84.29     overcast clouds  -3.1374  142.3475

[380 rows x 6 columns]>

In [13]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poso,ID,80.85,light rain,-1.3959,120.7524,
1,Kununurra,AU,80.58,scattered clouds,-15.7667,128.7333,
2,Bluff,NZ,56.80,broken clouds,-46.6000,168.3333,
3,Punta Arenas,CL,57.31,broken clouds,-53.1500,-70.9167,
4,New Norfolk,AU,72.66,broken clouds,-42.7826,147.0587,
...,...,...,...,...,...,...,...
673,Dubbo,AU,71.73,overcast clouds,-32.2500,148.6167,
674,Ulladulla,AU,71.87,clear sky,-35.3500,150.4667,
676,Byron Bay,AU,75.16,overcast clouds,-28.6500,153.6167,
678,Gboko,NG,75.06,clear sky,7.3179,8.9951,
679,Aitape,PG,84.29,overcast clouds,-3.1374,142.3475,

In [14]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poso,ID,80.85,light rain,-1.3959,120.7524,Hotel 77 Poso
1,Kununurra,AU,80.58,scattered clouds,-15.7667,128.7333,Hotel Kununurra
2,Bluff,NZ,56.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,Punta Arenas,CL,57.31,broken clouds,-53.1500,-70.9167,Hotel Hain
4,New Norfolk,AU,72.66,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
...,...,...,...,...,...,...,...
673,Dubbo,AU,71.73,overcast clouds,-32.2500,148.6167,Quality Inn Dubbo International
674,Ulladulla,AU,71.87,clear sky,-35.3500,150.4667,Sandpiper Motel
676,Byron Bay,AU,75.16,overcast clouds,-28.6500,153.6167,Backpackers Inn
678,Gboko,NG,75.06,clear sky,7.3179,8.9951,Mavillah Apartment and Suites
679,Aitape,PG,84.29,overcast clouds,-3.1374,142.3475,

In [16]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poso,ID,80.85,light rain,-1.3959,120.7524,Hotel 77 Poso
1,Kununurra,AU,80.58,scattered clouds,-15.7667,128.7333,Hotel Kununurra
2,Bluff,NZ,56.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,Punta Arenas,CL,57.31,broken clouds,-53.1500,-70.9167,Hotel Hain
4,New Norfolk,AU,72.66,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
...,...,...,...,...,...,...,...
668,Portao,BR,75.63,overcast clouds,-29.7017,-51.2419,Motel 20 Ver
673,Dubbo,AU,71.73,overcast clouds,-32.2500,148.6167,Quality Inn Dubbo International
674,Ulladulla,AU,71.87,clear sky,-35.3500,150.4667,Sandpiper Motel
676,Byron Bay,AU,75.16,overcast clouds,-28.6500,153.6167,Backpackers Inn
678,Gboko,NG,75.06,clear sky,7.3179,8.9951,Mavillah Apartment and Suites

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))